@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  background-color: #f3f4f6; /* gris muy claro */
  color: #111827; /* texto oscuro */
  -webkit-tap-highlight-color: transparent;
}
